#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Global Styles */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(154, 154, 204);
  color: #333;
}

/* App Container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  background-color: #b199de; /* light green */
  color: #8f274b; /* deep lavender text */
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button   */
button {
  background-color: #de96da; 
  color: #903153; 
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

button:hover {
  background-color: #91c896; 
}

main {
  padding: 2rem;
}

img {
  border-radius: 8px;
  margin-top: 1rem;
}
